<% provide(:title, '帮助 ｜ Tinybo') %>
<h2>帮助</h2>
<p>该网络应用是在 Michael Hartl 的 <a href="http://ruby.railstutorial.org">railstutorial</a> 教程的基本框架下完成的，只是做了部分的修改：</p>
<p>* Devise 该应用的用户管理部分采用了 devise 模块来完成，如用户登陆、用户注册、用户管理和注销；</p> 
<p>* Simple_form 该应用的表单管理在 Simple_form 的帮助下完成，并实现了一些强大的表单功能；</p>
<p>* Cancan 和 rolify 主要用于基于用户角色的授权使用；</p>
<p>* friendly_id 来于将用户的 ID 代换成更加便于人阅读的代码；</p>
<p>* gravtastic 为每一个用户准备一个头像，使用 http://gravatar.com/ 来完成头像的处理。</p>
