<% provide(:title, '帮助 ｜ Tinybo') %>
<h2>帮助</h2>
<hr>
<h3>关于</h3>
<p>该网络应用是在 Michael Hartl 的 <a href="http://ruby.railstutorial.org">railstutorial</a> 教程的基本框架下完成的，只是做了部分的修改：</p>
<p>* 该网站使用的是 <a href="https://github.com/RailsApps/rails3-bootstrap-devise-cancan" target="_blank">Rails3BootstrapDeviseCancan</a> 生成的基本框架；</p>
<p>* 中文化了网站的内容，但并没有实现对国际化的支持（因为无须用到国际化）；</p>
<p>* Devise 该应用的用户管理部分采用了 devise 模块来完成，如用户登陆、用户注册、用户管理和注销；</p> 
<p>* Simple_form 该应用的表单管理在 Simple_form 的帮助下完成，并实现了一些强大的表单功能；</p>
<p>* Cancan 和 rolify 主要用于基于用户角色的授权使用，限制用户访问相应的功能；</p>
<p>* friendly_id 来于将用户的 ID 代换成更加便于人阅读的代码，并能更友好的被人阅读；</p>
<p>* gravtastic 为每一个用户准备一个头像，使用 http://gravatar.com/ 来完成头像的处理；</p>
<p>* rspec-rails 使用了新的版本，后老的版本还是有很大的不同的，很多测试可能无法通过，需要重写测试；</p>
<p>* 虽然还可以加入留言，投票都一系列的功能，但我并没有去做，留到别的项目里来实现。</p>
<h3>联系</h3>
<p>该网站的代码托管在：<a href="https://github.com/canoeist2002/tinybo" target="_blank">github</a></p>
<p>或给我发邮件：canoeist2002 at hotmail.com</p>
<h3>感谢</h3>
<p><a href="http://ruby.railstutorial.org">railstutorial</a> 的作者 Michael Hartl，它的 rails 教程很棒，目前也有了中文版，在<a href="http://about.ac/rails-tutorial-2nd-cn/" target="_blank">这里</a>。</p>
<p><a href="http://railsapps.github.com/">railsapps</a> 上的帮助信息，可惜好的内容现在要收费了。</p>